
	
  body {
		  background-image: url("d.jpg");
	      background-size: 100%; 
		  background-repeat: no-repeat; 
		  }
  #bg{
		font-style: italic; 
		color:red;
		font-weight: bold; 
		font-size:40px; 
		text-align:center;
	 } 
  .a{
		 color:#0088FF;
		 font-style:italic;
	     font-size:25px; 
		 font-weight: bold; 
		  }
   	p{
		font-size:20px; 
	 }
    #plan{
		   color:rebeccapurple;
		   } 
    #interest{ 
	   color: rebeccapurple;
	   }
   .b{
	   font-style:rebeccapurple; 
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#10F110;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
font-weight: bold;
}

li a:hover {
    background-color: yellow;
}

.img-circle{
border-radius:60%;
float:right;
}
#video{
 float: right;
 padding: 10px;
}
.site{
	float:right;
}